{% extends "base.html" %}
{% block content %}
<h2>Нова обява</h2>
<form method="post" enctype="multipart/form-data" class="mt-3">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="mb-3">
    <label class="form-label">Заглавие</label>
    <input class="form-control" type="text" name="title" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Описание</label>
    <textarea class="form-control" name="description" rows="4" required></textarea>
  </div>
  
  <div class="mb-3">
    <label for="formFile" class="form-label">Снимка</label>
    <input class="form-control" type="file" name="images" id="formFile" accept="image/png, image/jpeg" multiple>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Кога сте го изгубили?</label>
      <input class="form-control" type="date" name="date_event" required>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Категория</label>
    <select class="form-select" name="category_id" required>
      {% for c in categories %}
        <option value="{{ c.id }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">coordinateX</label>
      <input class="form-control" type="number" step="any" name="coordinateX" placeholder="42.69">
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">coordinateY</label>
      <input class="form-control" type="number" step="any" name="coordinateY" placeholder="23.32">
    </div>
  </div>
  <hr class="my-4">
  <h5>Данни за контакт (показват се само на регистрирани потребители)</h5>
  <div class="row">
      <div class="col-md-6 mb-3">
          <label class="form-label">Име</label>
          <input class="form-control" type="text" name="contact_name">
      </div>
      <div class="col-md-6 mb-3">
          <label class="form-label">Телефон</label>
          <input class="form-control" type="tel" name="contact_phone">
      </div>
  </div>
  <div class="mb-3">
      <label class="form-label">Имейл</label>
      <input class="form-control" type="email" name="contact_email">
  </div>
  <button class="btn btn-primary" type="submit">Създай</button>
  <a class="btn btn-link" href="{{ url_for('listings.index') }}">Откажи</a>
</form>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/map-create.js') }}"></script>
{% endblock %}